/* #1e1818
#f2f2f2t
#747369
#f50000
#b4c138 */
#GameCanvasRender {
    border: #747369 5px solid;
}

#GameDisplay,
#VideoDisplay {
    place-self: center;
}

#ScoreDisplay {
    place-self: center;
}

#GameWrapper,
#VideoWrapper {
    width: 100%;
    height: 100vh;
    display: grid;
}

#NextLevelBtn {
    display: flex;
    width: 100%;
    justify-content: end;
    /* margin: 5px; */
}

.HiddenIconCache {
    display: none;
}

.Level {
    background-color: transparent;
}

.Level0 {
    color: #747369;
    background-color: #b4c138;
}

.Level1 {
    color: #747369;
    background-color: #b4c138;
}

.Level2 {
    color: #747369;
    background-color: #f2f2f2;
}

.Level3 {
    color: #f2f2f2;
    background-color: #f50000;
}

.Level4 {
    color: #f2f2f2;
    background-color: #747369;
}

.Level5 {
    color: #f2f2f2;
    background-color: #110e0e;
}

.Level6 {
    color: #747369;
    background-color: #f2f2f2;
}

.Level7 {
    color: #747369;
    background-color: #b4c138;
}

.Level3 #GameCanvasRender {
    border: none;
    background-color: #f2f2f2;
}

.Level4 #GameCanvasRender {
    border: none;
    background-color: #f2f2f2;
}

.Level5 #GameCanvasRender {
    border: none;
    background-color: #f2f2f2;
}

.LevelIcon {
    margin-right: 20px;
}

.Level3 .LevelIcon {
    border: #f2f2f2 1px solid;
}

.Level4 .LevelIcon {
    border: #f2f2f2 1px solid;
}

.ButtonWrapper {
    display: block;
    width: 40%;
    min-height: 294px;
    place-self: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    border: #747369 5px solid;
    /* border-radius: 10px; */
}

.ButtonWrapper .Button {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding-top: 44px;
    margin: 8%;
    width: 33%;
    min-height: 76px;

}

.ButtonWrapper .ButtonWide {
    width: 100%;
    margin: 0%;
    margin-top: 8%;

}

.ButtonWrapper h2 {
    margin-top: 100px;
    text-align: center;

}

.MenuIcon {
    margin-right: 20px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.SmallButton {
    min-height: unset;
}

.CloseButton {
    cursor: pointer;
    border: #747369 2px solid;
    width: 20px;
    padding: 5px;
    text-align: center;
    margin-bottom: 4px;

}

.AudioWrapper {
    display: flex;
    justify-content: end;
}

.AudioControlls {
    width: 130px;
}