/* #1e1818
#f2f2f2t
#747369
#f50000
#b4c138 */
#GameCanvasRender {
    border: #747369 5px solid;
}

#GameDisplay,
#VideoDisplay {
    place-self: center;
}

#ScoreDisplay {
    place-self: center;
}

#GameWrapper,
#VideoWrapper {
    width: 100%;
    height: 100vh;
    display: grid;
}

#NextLevelBtn {
    margin: 5px;
}

.Level {
    background-color: transparent;
}

.Level1 {
    color: #747369;
    background-color: #b4c138;
}

.Level2 {
    color: #747369;
    background-color: #f2f2f2;
}

.Level3 {
    color: #747369;
    background-color: #f50000;
}

.Level4 {
    color: #f2f2f2;
    background-color: #747369;
}

.Level5 {
    color: #f2f2f2;
    background-color: #1e1818;
}

.Level6 {
    color: #747369;
    background-color: #f2f2f2;
}

.Level3 #GameCanvasRender {
    background-color: #f2f2f2;
}

.Level4 #GameCanvasRender {
    background-color: #f2f2f2;
}

.Level5 #GameCanvasRender {
    background-color: #f2f2f2;
}